ortools>=8.1.8487
flopy>=3.3.3
scikit-learn>=0.24.1
matplotlib>=3.3.4
scipy>=1.6.1
numpy>=1.20.1
joblib>=1.0.1
vtk>=9.0.1
pandas>=1.2.3
seaborn>=0.11.1
dataclasses>=0.6
pysgems>=1.1.10
loguru>=0.5.3
scikit-image>=0.18.1